<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <main>
    <div class="grid grid-centered">
      <div class="grid-cell">
        {% include navigation.html %}
        <article class="article {% if site.scrollappear_enabled %}scrollappear{% endif %}">
          <header class="article-header">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description }}</p>
            <div class="article-inside-post">
              <span class="article-list-date">
                {% assign m = page.date | date: "%-m" %}
                {% case m %}
                  {% when '1' %}Январь
                  {% when '2' %}Февраль
                  {% when '3' %}Март
                  {% when '4' %}Апрель
                  {% when '5' %}Май
                  {% when '6' %}Июнь
                  {% when '7' %}Июль
                  {% when '8' %}Август
                  {% when '9' %}Сентябрь
                  {% when '10' %}Октябрь
                  {% when '11' %}Ноябрь
                  {% when '12' %}Декабрь
                {% endcase %}
                {{ page.date | date: "%-d, %Y" }}
              </span>
              <span class="article-list-divider">-</span>
              <span class="article-list-minutes">
                {% if page.category == 'podcast' %}
                    АУДИО
                  {% elsif page.category == 'video' %}
                    ВИДЕО
                  {% else %}
                  {% capture words %}
                    {{ page.content | number_of_words }}
                  {% endcapture %}
                  {% unless words contains "-" %}
                    {{ words | plus: 250 | divided_by: 250 | append: " мин." }}
                  {% endunless %}
                {% endif %}
              </span>
              <span class="article-list-divider">-</span>
              <div class="article-list-tags">
                {% for tag in page.tags %}
                  <a href="{{ 'tag/' | relative_url }}{{ tag }}"  title="Все посты с этим тегом">{{ tag }}</a>
                {% endfor %}
              </div>
            </div>
          </header>

          <div class="article-content">
            {{ content }}
          </div>

          {% if site.discus_identifier %}
            <div id="disqus_thread" class="article-comments"></div>
            <script src="https://{{ site.discus_identifier }}.disqus.com/embed.js" async defer></script>
            <noscript>Пожалуйста активируйте JavaScript чтобы видеть комментарии</noscript>
          {% endif %}
        </article>
        {% include footer.html %}
      </div>
    </div>
  </main>
  {% include javascripts.html %}
</body>
</html>
